page-bookmarks {

ion-content {
    background-color: $primary !important;
}

// .center {
//     margin-top: 20%
//     text-align: center;
// }
.remove {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
}

}
