<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu" src='/static/assets/svg/md-menu.svg'></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Bookmarks</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="edit = !edit">
        <ion-icon slot="icon-only" name="trash" *ngIf="!edit" src='/static/assets/svg/md-trash.svg'></ion-icon>
        <span *ngIf="edit">cancel</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding scrollbar-y-auto>
  <entry-list [entries]='bookmarks' [parentEdit]="edit"></entry-list>
  <div class='center'>
    <ion-button color="danger" class="remove" *ngIf="edit" (click)="removeEntries(bookmarks)">Remove selected
      bookmarks</ion-button>
  </div>
</ion-content>