<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Flashcard Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ng-switch="style" on-swipe-up="front = !front">
  <ion-card>
    <div *ngIf="displayImages && style === 'audio'">
      <img (click)="playAudio(card)" [(src)]="image" onError="this.src='assets/img/default.png'" *ngIf="card.img" />
    </div>
    <ion-card-content [ngSwitch]="style">
      <div *ngSwitchCase="'active'">
        <ion-card-title *ngIf="!front">
          {{ card.word }}
        </ion-card-title>
        <ion-card-title class="definition" *ngIf="front">
          {{ card.definition }}
        </ion-card-title>
      </div>
      <div *ngSwitchCase="'passive'">
        <ion-card-title *ngIf="!front">
          {{ card.definition }}
        </ion-card-title>
        <ion-card-title class="definition" *ngIf="front">
          {{ card.word }}
        </ion-card-title>
      </div>
      <div *ngSwitchCase="'audio'">
        <ion-card-title *ngIf="!front">
          {{ card.word }} - {{ card.definition }}
        </ion-card-title>
      </div>
      <div *ngIf="card.optional && optional">
        <p class="option" *ngFor="let option of checkedOptions; let i = index">
          {{ option }} - {{ card.optional[option] }}
        </p>
      </div>
    </ion-card-content>

    <ion-row *ngIf="card.audio?.length > 0">
      <!-- <ion-row *ngIf="(card.audio | noNullObjectValues)?.length > 0"> -->
      <ion-card>
        <ion-card-header>
          Audio
        </ion-card-header>

        <ion-list>
          <!-- <button ion-item *ngFor="let track of (card.audio | noNullObjectValues)" (click)="playAudio(track)"> -->
          <button ion-item *ngFor="let track of card.audio" (click)="playAudio(track)">
            <ion-icon name="musical-notes" item-start></ion-icon>
            <span *ngIf="track.speaker">Speaker: {{ track.speaker }}</span>
          </button>
        </ion-list>
      </ion-card>
    </ion-row>

    <ion-row *ngIf="(card.example_sentence | noNullValues)?.length > 0">
      <ion-card>
        <ion-card-header>
          Sentences
        </ion-card-header>

        <ion-list *ngFor="let sentence of card.example_sentence | noNullValues; let i = index">
          <ng-container *ngIf="hasKey(card, 'example_sentence_audio')">
            <button ion-item *ngFor="let track of card.example_sentence_audio[i]" (click)="playAudio(track)">
              <ion-icon name="musical-notes" item-start></ion-icon>
              <h2 *ngIf="(style === 'active' && !front) || (style === 'passive' && front)">{{ sentence }}</h2>
              <h4 *ngIf="(style === 'active' && front) || (style === 'passive' && !front)">{{ card.example_sentence_definition[i] }}</h4>
              <h6 *ngIf="track.speaker">Speaker: {{ track.speaker }}</h6>
            </button>
          </ng-container>
          <ng-container *ngIf="!hasKey(card, 'example_sentence_audio')">
            <div ion-item>
              <h2 *ngIf="(style === 'active' && !front) || (style === 'passive' && front)">{{ sentence }}</h2>
              <h4 *ngIf="(style === 'active' && front) || (style === 'passive' && !front)">{{ card.example_sentence_definition[i] }}</h4>
            </div>
          </ng-container>
        </ion-list>
      </ion-card>
    </ion-row>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="primary" icon-left (click)="toggleFav(card)">
          <ion-icon *ngIf="favourited(card)" name="ios-bookmarks"></ion-icon>
          <ion-icon *ngIf="!favourited(card)" name="ios-bookmarks-outline"></ion-icon>
          Bookmark
        </button>
        <ion-col>
          <button ion-button clear small color="primary" icon-left (click)="copyToClipboard(card.word)">
            <ion-icon name="copy"></ion-icon>
            Copy
          </button>
        </ion-col>
        <button ion-button clear small color="primary" icon-left (click)="front = !front">
          <ion-icon name="refresh"></ion-icon>
          <span *ngIf="front">Flip to back</span><span *ngIf="!front">Flip to front</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons left class="bar-buttons bar-buttons-ios">
      <button ion-button icon-only (click)="prev1()">
        <ion-icon name="ios-arrow-back" class="scroll"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end class="bar-buttons bar-buttons-ios">
      <button ion-button icon-only (click)="next1()">
        <ion-icon name="ios-arrow-forward" class="scroll"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>