<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu" src='/static/assets/svg/md-menu.svg'></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Flashcards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding scrollbar-y-auto>

  <ion-list class="deck-select">
    <ion-list-header>
      <ion-label>
        First, select a flashcard deck:
      </ion-label>
    </ion-list-header>
    <ion-item mode="ios">
      <ion-label class="label-left" mode="ios">Select a Deck</ion-label>
      <ion-select mode="ios" [(ngModel)]="deck" [interfaceOptions]="deckSelectOptions">
        <ion-select-option *ngFor='let deck of decks$ | async'>{{deck}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header text-wrap>
      <ion-label>
        Then, select a style of learning between the following options:
      </ion-label>
    </ion-list-header>
    <ion-radio-group [(ngModel)]="selectedFlashcardStyle">
      <ion-item *ngFor="let style of flashcardStyles$ | async">
        <ion-label>{{style.title}}<p>{{style.info}}</p>
        </ion-label>
        <ion-radio value="{{style.title}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <div class="center">
    <ion-button secondary (click)='startFlashcards()'>Click here to start!</ion-button>
  </div>
</ion-content>