<div id="browseEntries" class="browseElements">
  <ion-list>
    <div>
      <ion-item class="matchContainer" (click)="showModal(entry)" *ngFor="let entry of entries; trackBy: trackByFn"
        text-wrap>
        <ion-checkbox color="danger" checked="false" *ngIf="edit" [(ngModel)]="entry.checked"></ion-checkbox>
        <ion-label>
          <div class="matchLeftContainer">
            <span class="response matchLeftDiv" [innerHTML]="highlight(entry, 'L1')"></span>
          </div>
          <div class="matchRightContainer">
            <span class="response matchRightDiv" [innerHTML]="highlight(entry, 'L2')"></span>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</div>