@import '../../theme/variables.scss';

.browseElements {
    margin: auto;
    height:auto;
    width: auto;
    text-align: center;
    background-color: var(--ion-color-secondary);
}

.browseElements {
    margin: auto;
    height:auto;
    width: auto;
    text-align: center !important;
    background-color: var(--ion-color-secondary);
}


.matchContainer {
    margin: 1em 0;
    text-align: center;
}

.matchLeftDiv {
    color: var(--ion-color-primary);
    margin-right: .2em;
    text-align: left;
}

.matchLeftContainer, .matchRightContainer {
    display: initial;
}

.matchRightDiv {
    margin-left:.2em;
}

.matchResponse {
    margin: 2.5em 0 .75em 0;
    text-decoration: underline;
}

.matchLeftDiv.langMatched{
    background: #eee;
    border-radius: 15px;
    font-weight: 900;
    padding: 5px;
}

.matchRightDiv .langMatched{
    background: #eee;
    font-weight: 900;
}

// ion-item {
//     text-align: center;
// }
