<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Word Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div *ngIf="displayImages">
      <img [(src)]="entry.img" onError="this.src='assets/img/default.png'" *ngIf="entry.img" />
    </div>
    <ion-card-content>
      <ion-card-title>
        {{ entry.word }}
      </ion-card-title>
      <p class="definition">
        {{ entry.definition }}
      </p>
      <div *ngIf="entry.optional && optional && checkOptionTruth(entry.optional)">
        <div class="option" *ngFor="let optional_dict of entry.optional; let i = index">
          <ng-container *ngFor="let option of objectKeys(optional_dict)">
            <p *ngIf="entry.optional[i][option]">
              <span>{{ option }} - {{ entry.optional[i][option] }} </span>
            </p>
          </ng-container>
        </div>
      </div>
    </ion-card-content>

    <!-- <ion-row *ngIf="(entry.audio | noNullObjectValues)?.length > 0"> -->
    <ion-row *ngIf="entry.audio?.length > 0">
      <ion-card>
        <ion-card-header>
          Audio
        </ion-card-header>

        <ion-list>
          <!-- <button ion-item *ngFor="let track of (entry.audio | noNullObjectValues)" (click)="playAudio(track)"> -->
          <button ion-item *ngFor="let track of entry.audio" (click)="playAudio(track)">
            <ion-icon name="musical-notes" item-start></ion-icon>
            <span *ngIf="track.speaker">Speaker: {{ track.speaker }}</span>
          </button>
        </ion-list>
      </ion-card>
    </ion-row>

    <ion-row *ngIf="(entry.example_sentence | noNullValues)?.length > 0">
      <ion-card>
        <ion-card-header>
          Sentences
        </ion-card-header>

        <ion-list *ngFor="let sentence of entry.example_sentence | noNullValues; let i = index">
          <ng-container *ngIf="hasKey(entry, 'example_sentence_audio')">
            <button ion-item *ngFor="let track of entry.example_sentence_audio[i]" (click)="playAudio(track)">
              <ion-icon name="musical-notes" item-start></ion-icon>
              <h2>{{ sentence }}</h2>
              <h4>{{ entry.example_sentence_definition[i] }}</h4>
              <h6 *ngIf="track.speaker">Speaker: {{ track.speaker }}</h6>
            </button>
          </ng-container>
          <ng-container *ngIf="!hasKey(entry, 'example_sentence_audio')">
            <div ion-item>
              <h2>{{ sentence }}</h2>
              <h4>{{ entry.example_sentence_definition[i] }}</h4>
            </div>
          </ng-container>
        </ion-list>
      </ion-card>
    </ion-row>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="primary" icon-left (click)="toggleFav(entry)">
          <ion-icon *ngIf="favourited(entry)" name="ios-bookmarks"></ion-icon>
          <ion-icon *ngIf="!favourited(entry)" name="ios-bookmarks-outline"></ion-icon>
          Bookmark
        </button>
      </ion-col>
      <ion-col>
        <button ion-button clear small color="primary" icon-left (click)="copyToClipboard(entry.word)">
          <ion-icon name="copy"></ion-icon>
          Copy
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<ion-footer *ngIf="checkOptionTruth(entry.optional)">
  <ion-toolbar>
    <ion-item>
      <ion-toggle checked="false" [(ngModel)]="optional"></ion-toggle>
      <ion-label>Show optional information</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-footer>